.container-buttons-movement {
  /* background-color: #f00f00; */
  position: fixed;
  bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.button {
  width: 3rem;
  height: 3rem;
}

.left-arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABHUlEQVRoge3Yv0kEQRSA8R+CiJhoaKiRVmAB2oBmVmELtmBoKjZgA/4BxUDOHgwvOzARFMfEA1lO2Z3jfN76PnjxfN+yM8wuSZIkSZIk/55LPGI7WmRayuc84zDYZSpKY86wHGpUSTOkYIDNSKkaJoUUjHAQ6NWZ70IK3nGCxTC7DvwUMp4brEcJtqVNSMEQe0GOrWgbUvCGYyzULnbXccFZzwXWakKixSfNE3b6EFLwgqM+hIznHCt9CCm4b0pXnwjzQPTT7v2r1YvNXnX83v4B8a9zgdWuEbOmS8CrKa8os6RtxBC7QY6taBNxbc6v8b34sBphP9CrM5MiBtiIlKqhGXGKpVCjSsYBc/+D7goP2IoWSZIkSZIk+QU+AO3v31ki+8PiAAAAAElFTkSuQmCC);
  transform: rotate(180deg); /* left arrow */
  grid-column: 1;
  grid-row: 2;
}

.right-arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABHUlEQVRoge3Yv0kEQRSA8R+CiJhoaKiRVmAB2oBmVmELtmBoKjZgA/4BxUDOHgwvOzARFMfEA1lO2Z3jfN76PnjxfN+yM8wuSZIkSZIk/55LPGI7WmRayuc84zDYZSpKY86wHGpUSTOkYIDNSKkaJoUUjHAQ6NWZ70IK3nGCxTC7DvwUMp4brEcJtqVNSMEQe0GOrWgbUvCGYyzULnbXccFZzwXWakKixSfNE3b6EFLwgqM+hIznHCt9CCm4b0pXnwjzQPTT7v2r1YvNXnX83v4B8a9zgdWuEbOmS8CrKa8os6RtxBC7QY6taBNxbc6v8b34sBphP9CrM5MiBtiIlKqhGXGKpVCjSsYBc/+D7goP2IoWSZIkSZIk+QU+AO3v31ki+8PiAAAAAElFTkSuQmCC);
  grid-column: 3;
  grid-row: 2;
}

.up-arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABHUlEQVRoge3Yv0kEQRSA8R+CiJhoaKiRVmAB2oBmVmELtmBoKjZgA/4BxUDOHgwvOzARFMfEA1lO2Z3jfN76PnjxfN+yM8wuSZIkSZIk/55LPGI7WmRayuc84zDYZSpKY86wHGpUSTOkYIDNSKkaJoUUjHAQ6NWZ70IK3nGCxTC7DvwUMp4brEcJtqVNSMEQe0GOrWgbUvCGYyzULnbXccFZzwXWakKixSfNE3b6EFLwgqM+hIznHCt9CCm4b0pXnwjzQPTT7v2r1YvNXnX83v4B8a9zgdWuEbOmS8CrKa8os6RtxBC7QY6taBNxbc6v8b34sBphP9CrM5MiBtiIlKqhGXGKpVCjSsYBc/+D7goP2IoWSZIkSZIk+QU+AO3v31ki+8PiAAAAAElFTkSuQmCC);
  transform: rotate(-90deg); /* up arrow */
  grid-column: 2;
  grid-row: 1;
}

.down-arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABHUlEQVRoge3Yv0kEQRSA8R+CiJhoaKiRVmAB2oBmVmELtmBoKjZgA/4BxUDOHgwvOzARFMfEA1lO2Z3jfN76PnjxfN+yM8wuSZIkSZIk/55LPGI7WmRayuc84zDYZSpKY86wHGpUSTOkYIDNSKkaJoUUjHAQ6NWZ70IK3nGCxTC7DvwUMp4brEcJtqVNSMEQe0GOrWgbUvCGYyzULnbXccFZzwXWakKixSfNE3b6EFLwgqM+hIznHCt9CCm4b0pXnwjzQPTT7v2r1YvNXnX83v4B8a9zgdWuEbOmS8CrKa8os6RtxBC7QY6taBNxbc6v8b34sBphP9CrM5MiBtiIlKqhGXGKpVCjSsYBc/+D7goP2IoWSZIkSZIk+QU+AO3v31ki+8PiAAAAAElFTkSuQmCC);
  transform: rotate(90deg); /* down arrow */
  grid-column: 2;
  grid-row: 2;
  position: relative;
  top: 3rem;
}
